body {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #f2ffea;
}

main {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

#content {
  padding: 10px;
}

#page {
  width: 100%;
}


.post {
  max-width: 1000px;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 20px;
  border: 1px;
  background-color: #c6dfb4;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);;
}

#navBar {
  padding-left: 30px;
  background-color: darkcyan;
  font-size: 30px;
  height: 12%;
  display: flex;
  min-height: 80px;
  min-width: 650px;
  align-items: center;
}

#navBar h2 {
  line-height: 35px;
  float: left;
}

#navBtns {
  margin-left: 100px;
  width: 400px;
}

.navBtn {
  border: none;
  width: 33%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

.navBtnNotSelected {
  background-color: #e7e7e7;
  color: black;
}

.navBtnSelected {
  background-color: darkslateblue;
  color: white;
}